@font-face {
    font-family: sitka;
    src: url('../Fonts/SitkaVF.ttf');
}

.pbg{
    background-image: url('../../img/Recurso\ 62.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 890px;
}

.mtpagos{
    margin-top: 40px;
    gap: 10px;
}

.imgpago{
    width: 85%;
    visibility: hidden;
}

.textpago{
    padding-top: 250px;
    font-family: sitka;
    font-size: 70px;
    color: #f1f7ed;
    visibility: hidden;
}
.dstello{
    position: absolute;
    left: 47%;
    margin-top: 170px;
    display: none;
    
}
.imgtotal{
    width: 60%;
    margin-top: -250px;
    margin-left: 370px;
}


@media only screen and (max-width: 1360px) {
   .imgtotal{
    margin: 0;
    margin-top: -150px;
    margin-left: 260px;
   }
  }

@media only screen and (max-width: 450px) {
    .pbg{
        height: 1650px;
    }
    .dstello{
        left: 40%;
    }
    .textpago{
        visibility: visible;
    }
    .mtpagos{
        margin-left:70px ;
        gap: 40px;
        width: 70%;
    }
    .imgtotal{
        visibility: hidden;
    }
    .imgpago{
        visibility: visible;
        
    }
  }

  @media (min-width: 456px) and (max-width: 920px) {
    .pbg{
        height: 1300px;
    }
    .dstello{
        left: 40%;
    }
    .mtpagos{
        margin-left:250px ;
        gap: 40px;
        width: 40%;
    }
    .imgtotal{
        margin-left: 0px;
    }
  
  }