.info{
    background-image: url('../../img/Fondo\ info.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1600px;
    background-position-y: -175px;
    background-position-x: center;
}

.txt{
    padding-top: 400px;
    padding-left: 200px;
    color: #537F6A;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    width: 40%;
    text-align: center;

}
.imginf2{
    visibility: hidden;
}

.imginfo{
    margin-left: 270px;
    margin-top: 50px;
}

@media only screen and (max-width: 450px) {
        .info{
            background-image: url('../../img/Fondo_banner1.png');
            width: 100%;
            height: 800px;

        }
        .txt{
            
           width: 90%;
            padding-top: 0px;
            padding-left: 50px;
            font-size: 30px;
            margin-top: -240px;
            
            
        }
        .imginfo{
            width: 70%;
            margin-left: 70px;
        }
        .imginf2{
            margin-top: 70px;
            margin-left: 83px;
            width: 60%;
           visibility: visible;
        
            
        }

    }
  