@font-face {
    font-family: sitka;
    src: url('../Fonts/SitkaVF.ttf');
}

.pbg{
    background-image: url('../../img/Recurso\ 49.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1150px;
}

.mtpagos{
    margin-top: 80px;
    gap: 10px;
}

.imgpago{
    width: 85%;
}

.textpago{
    padding-top: 280px;
    font-family: sitka;
    font-size: 70px;
    color: #f1f7ed;
}
.dstello{
    position: absolute;
    left: 47%;
    margin-top: 170px;
}

@media only screen and (max-width: 450px) {
    .pbg{
        height: 1300px;
    }
    .dstello{
        left: 40%;
    }
    .mtpagos{
        margin-left:70px ;
        gap: 40px;
        width: 70%;
    }
  
  }

  @media (min-width: 456px) and (max-width: 920px) {
    .pbg{
        height: 1300px;
    }
    .dstello{
        left: 40%;
    }
    .mtpagos{
        margin-left:250px ;
        gap: 40px;
        width: 40%;
    }
  
  }