.resbg{
    background-image: url('../../img/Recurso\ 59.png');
    height: 1660px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: -185px;
    position: relative;
}

.textc{
    visibility: hidden;
}


.formbody{
    
    background-color: white;
    width: 60%;
    height: 660px;
    border-radius: 10px;
    margin-left: 250px;
    
}
.body{
    padding-top: 700px;
}
.form-label, .fw-normal{
    font-size: 14px;
}
.form-control{
    font-size: 12px;
}
.checkboton{
    width: 30%;
    margin-left: 240px;
}
.textoinfo{
    font-family: popins;
    color:#537F6A;
}

@media only screen and (max-width: 450px) {
    .resbg{
        background-image: url('../../img/Textura\ fondo\ info.png');
        height: 1200px;
    }
    .formbody{
        height: 400px;
        margin-left: 40px;
      
    }
    .checkboton{
        width: 70%;
        margin-left: 60px;
    }
    .textc{
        margin-top: 30px;
        margin-left: 48px;
        visibility: visible;
        font-family: sitka;
        font-size: 40px;
        font-weight: bold;
        color: #537F6A;
        width: 80%;
    }
    .body{
        padding-top: 300px;
    }
    .form-control{
        width: 200px;
    }
    .textoinfo{
        
        box-sizing: content-box;
        padding: 0;
        max-width: 200px;
        width: 300px;
       
        
    }
}