@font-face {
    font-family: sitka;
    src: url('../Fonts/SitkaVF.ttf');
}
.bg{
    background-image: url('../../img/Header.png');
}

.navbar-brand{
    color: white;
    font-family: sitka;
    font-weight: bold;
    font-size: 50px;

}
.navbar-brand:hover{
    color: white;
}

.nbi{
    color: white !important;
    font-size: 30px;
    

}