

.footerbg{
    background-image: url('../../img/Recurso\ 50.png');
    
    background-size: contain;
    height: 700px;
    background-repeat: no-repeat;
    margin-top: -190px;
    background-position-x: center;
}

.mbi{
    color: #537F6a;
    margin-right: 15px;
    
}

.nametitle{
    margin-top: 180px;
    color: #537F6A;
    font-family: sitka;
    font-weight: bold;
    font-size: 60px;
   
    width: 400px;
    
}
.email{
    font-size: 20px!important;
}
.em{
    font-size: 30px!important;
}
.todo{
    display: flex;
}

.h3info{
    color: #537F6A;
    margin-top: 20px;
    font-family: popins;
    font-size: 33px;
}

.about{
    margin-top: 170px;
    margin-left: 398px;
}

.imgfooter{
    width: 12%;
    margin-right: 25px;
    margin-top: 10px;
}
.right{
    margin-top: 190px;
    padding-bottom: 20px;
    margin-left: 190px;
    
}
@media only screen and (max-width: 1440px) {
    .footerbg{
        background-size: cover;
        height: 600px;
    }
    
    }

@media only screen and (max-width: 1360px) {
   .footerbg{
    background-size: cover;
   }
  
  }


  @media (min-width: 456px) and (max-width: 920px) {
    .footerbg{
        background-image: url('../../img/Fondo_banner1.png');
        height: 600px;
    }
    .nametitle{
        margin-top: 40px;
        margin-left: 70px;

    }
    .mbi{
        margin-left: 70px;
        color:#537F6A;
        margin-right: 5px;
    }
    .h3info{
        margin-top: 30px;
        font-size: 15px;
        width: 100%;
    }
    .todo{
        flex-direction: column;
    }
    .about{
        margin-top: 20px;
        margin-left: 70px;
    }
    .imgfooter{
        margin-top: 20px;
        margin-left: 54px;
        width: 10%;
        margin-bottom: 30px;
    }
    .right{
        margin-top: 30px;
        margin-left: 100px;
        width: 60%;
    }
    .todo{
        flex: none;
    }
  
  }

  @media only screen and (max-width: 450px) {
    .footerbg{
        background-image: url('../../img/Fondo_banner1.png');
        height: 300px;
    }
    .nametitle{
        margin-top: 40px;
        margin-left: 30px;

    }
    .mbi{
        margin-left: 50px;
        color:#537F6A;
        margin-right: 5px;
    }
    .h3info{
        margin-top: 30px;
        font-size: 15px;
        width: 100%;
    }
    .todo{
        flex-direction: column;

    }
    .about{
        margin-top: 20px;
        margin-left: 50px;
    }
    .imgfooter{
        margin-left: 34px;
        width: 10%;
        margin-bottom: 30px;
    }
    .right{
        margin-top: 30px;
        margin-left: 100px;
        width: 60%;
    }
  
  }
