@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@font-face {
    font-family: sitka;
    src: url('../Fonts/SitkaVF.ttf');
}

.mid1{
    background-image: url('../../img/Fondo_banner1.png');
    height: 460px;
    background-color: #F1F7ED;
}

.texto{
    margin-top: 220px;
    color: #537F6A;
    font-family: sitka;
    font-weight: bold;
    width: 40%;
    font-size: 60px;
    line-height: 1em;
}
.image{
    height: 129px;
    width: 157px;
    margin-left: 50px;
}
.image2{
    height: 146px;
    width: 117px;
    margin-left: 55px;
    margin-top: -20px;
}
.image3{
    height: 147px;
    width: 131px;
    margin-left: 55px;
    margin-top: -20px;
}
.image4{
    height: 133px;
    width: 133px;
    margin-left: 55px;
    margin-top: -5px;
}


.p{
    text-align: center;
    color: #808080;
}
.h3{
    color: #808080;
}
.card{
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.strt{
    position: absolute;
    width: 5%;
    height:11%;
    margin-top: 100px;
    margin-right: 40px;
}

.flower{
    position: absolute;
    height: 150px;
    margin-top: 280px;
    left: 87%;
    vertical-align: middle;
    box-sizing: border-box;
}

@media only screen and (max-width: 1440px) {
    .mid1{
        height: 550px;
    }
    .flower{
        margin-top: 310px;
    }
    
    }

@media only screen and (max-width: 1360px) {
    .mid1{
        height: 600px;
    }
    .flower{
        margin-top: 350px;
    }
  
  }



  @media only screen and (max-width: 920px) {
    .mid1{
        height: 900px;
    }
    .texto{
        width: 90%;
        margin-top: 280px;

    }
    .strt{
        width: 13%;
    }
    .card{
        margin: 30px;
    }
    .flower{
        display: none;
    }
  }

  @media only screen and (max-width: 450px) {
    .mid1{
        height: 1600px !important;
    }
    .texto{
        width: 100%;
    }
    .strt{
        width: 20%;
    }
    .card{
        margin: 30px;
    }
    .flower{
        display: none;
    }
    .image3, .image2, .image, .image4{
        margin:auto
    }
  }