.bannerinscribirse {
  background-image: url("../../img/Banner\ Inscribete.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  background-position-x: center;
}
.boton{
    margin-left: 1250px;
    margin-top: 800px;
}
.imgins{
  visibility: hidden;
}
@media only screen and (max-width: 450px) {
  .boton{
    margin-top: -80px;
    width: 70%;
    margin-left: 60px;
  }
  .bannerinscribirse{
    background-image: url('../../img/Sin-título-1.png');
    
  }
  .imgins{
    visibility: visible;
    margin-top: 200px;
    margin-left: 20px;
  }

}
@media (min-width: 456px) and (max-width: 920px) {
  .boton{
    margin-top: -70px;
    
    width: 30%;
    margin-left: 260px;
  }
  .bannerinscribirse{
    background-image: url('../../img/Sin-título-1.png');
    
  }
  .imgins{
    visibility: visible;
    margin-top: 300px;
    margin-left: 200px;
  }

}