.bannerinscribirse {
  background-image: url("../../img/Banner\ Inscribete.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
}
.boton{
    margin-left: 1180px;
    margin-top: 650px;
}
.imgins{
  visibility: hidden;
}
@media only screen and (max-width: 400px) {
  .boton{
    margin-top: -80px;
    width: 70%;
    margin-left: 60px;
  }
  .bannerinscribirse{
    background-image: url('../../img/Sin-título-1.png');
    
  }
  .imgins{
    visibility: visible;
    margin-top: 200px;
    margin-left: 20px;
  }

}