.md2 {
  background-image: url("../../img/Recurso\ 50.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  margin-top: 320px;
  width: 100%;
}

.cardView {
  width: 100%;
  gap: 1.5em;
}

.tx {
  color: #537f6a;
  font-family: sitka;
    font-weight: bold;
  width: 40%;
  font-size: 60px;
  margin-left: 580px;
  padding-top: 200px;
  line-height: 1em;
  
}
.bgc{
    background-color: #95bca7;
    height: 170px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
   
}
.imglogo{
    margin-top: 50px;
    margin-left: 35px;
    width: 200px;
    height: 70px;
}

.imglogo1{
    margin-top: 40px;
    margin-left: 90px;
    width: 90px;
    height: 90px;
}

.cards{
    border-radius: 20px;
    border-top: 40px;
 
}
.cardtitulo{
    color: #808080;
    font-size: 19px;
}
.ct{
    height: 60px;
}

.strella{
    position: absolute;
   left: 48%;
   margin-top: 70px;
    
}
.recurso19{
    position: absolute;
    margin-top: 220px;
    left: 80%;

}

@media only screen and (max-width: 450px) {
  .md2{
    height: 2000px ;
  }
  .tx{
    padding-top: 240px;
    width: 70%;
    margin-left: 60px ;
  }
  .strella{
    margin-top: 130px;
    left: 40%;
  }
  .recurso19{
    display: none;
  }
  }

  @media (min-width: 456px) and (max-width: 920px) {
    .md2{
      height: 2000px;
    }
    .tx{
      padding-top: 240px;
      width: 70%;
      margin-left: 130px;
    }
    .strella{
      margin-top: 130px;
      left: 45%;
    }
    .recurso19{
      display: none;
    }
    }
